In [1]:
import json
import matplotlib.pyplot as plt
import pandas as pd
import sys
import os
import numpy as np
import math
import re

In [2]:
def question_1(city_pairs):
    """
    :return: df1
            Data Type: Dataframe
            Please read the assignment specs to know how to create the output dataframe
    """

    #################################################
    # Your code goes here ...
    def check(stuff_in, stuff_out):
        if stuff_in > stuff_out:
            result = 'in'
        elif stuff_in < stuff_out:
            result = 'out'
        else:
            result = 'same'
        return result

    df1 = pd.read_csv(city_pairs)
    df1['passenger_in_out'] = df1.apply(lambda x: check(x['Passengers_In'], x['Passengers_Out']), axis=1)
    df1['freight_in_out'] = df1.apply(lambda x: check(x['Freight_In_(tonnes)'], x['Freight_Out_(tonnes)']), axis=1)
    df1['mail_in_out'] = df1.apply(lambda x: check(x['Mail_In_(tonnes)'], x['Mail_Out_(tonnes)']), axis=1)
    #################################################

    log("QUESTION 1", output_df=df1[["AustralianPort", "ForeignPort", "passenger_in_out", "freight_in_out", "mail_in_out"]], other=df1.shape)
    return df1

In [3]:
def question_2(df1):
    """
    :param df1: the dataframe created in question 1
    :return: dataframe df2
            Please read the assignment specs to know how to create the output dataframe
    """

    #################################################
    # Your code goes here ...
    df2 = df1.groupby(['AustralianPort']).agg(
        PassengerInCount=pd.NamedAgg(column='Passengers_In', aggfunc='sum'),
        PassengerOutCount=pd.NamedAgg(column='Passengers_Out', aggfunc='sum'),
        FreightInCount=pd.NamedAgg(column='Freight_In_(tonnes)', aggfunc='sum'),
        FreightOutCount=pd.NamedAgg(column='Freight_Out_(tonnes)', aggfunc='sum'),
        MailInCount=pd.NamedAgg(column='Mail_In_(tonnes)', aggfunc='sum'),
        MailOutCount=pd.NamedAgg(column='Mail_Out_(tonnes)', aggfunc='sum'),
    ).sort_values(['PassengerInCount'], axis=0, ascending=False).reset_index()
    #################################################

    log("QUESTION 2", output_df=df2, other=df2.shape)
    return df2

In [4]:
def log(question, output_df, other):
    print("--------------- {}----------------".format(question))

    if other is not None:
        print(question, other)
    if output_df is not None:
        df = output_df.head(5).copy(True)
        for c in df.columns:
            df[c] = df[c].apply(lambda a: a[:20] if isinstance(a, str) else a)

        df.columns = [a[:10] + "..." for a in df.columns]
        print(df.to_string())


df1 = question_1("city_pairs.csv")
df2 = question_2(df1.copy(True))

--------------- QUESTION 1----------------
QUESTION 1 (84464, 18)
  Australian... ForeignPor... passenger_... freight_in... mail_in_ou...
0      Adelaide      Auckland            in            in           out
1      Adelaide       Bahrain            in           out          same
2      Adelaide        Bombay            in          same          same
3      Adelaide     Frankfurt           out            in           out
4      Adelaide        London            in           out           out
--------------- QUESTION 2----------------
QUESTION 2 (19, 7)
  Australian...  PassengerI...  PassengerO...  FreightInC...  FreightOut...  MailInCoun...  MailOutCou...
0        Sydney      157895585      158774418    7628470.105    5314410.030     399817.308     213428.341
1     Melbourne       80803036       79170733    3456238.155    3505481.636     159063.391      89822.888
2      Brisbane       55754457       53524103    1232259.783    1575695.388      47574.805      48376.936
3         Perth       38997804       37719180     887435.237    1248103.749      25367.878      19038.641
4        Cairns        9880903        9584036      65008.439     176669.462       1302.701       2500.763